/* BASIC STYLES HERE */

body {
  background-color: #e8dada;
  font-family: 'Tilt Neon', cursive;
}

header,
footer {
  background-color: darkred;
  color: #c19090;
}

.qFloat {
  position: absolute;
  top: -1.3em;
  background-color: darkred;
  border-radius: 5px;
  color: #c19090;
  padding-top: 2px;
  padding-left: 8px;
  padding-right: 8px;
}

.answer:hover {
  cursor: pointer;
  background-color: rgb(193, 144, 144);
  color: darkred;
  transition: .3s;
}